.blog_main {
    width: 90%;
    margin: 0% 5%;

}



.blog_main h1 {
    color: black;
}
.blog {
    display: flex;
}
.blog_1 img {
    width: 400px;
    border-radius: 2rem;
}


.blog_main h1 {
/* color: wheat; */
justify-content: center;
/* align-items: center; */
display: flex;
}

.dogapi {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px solid black;
}
.dogapi button{
    background-color: wheat;
    margin-right: 10%;
    padding: 20px;
    font-size: 1.3rem;
    margin-top: 5%;
    border-radius: 10px;
}
.dogapi img {
    margin-top: 5%;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: 5px solid black;
}

.dogapi h1 {
    position: absolute;
    top: 5%;
    
}






.blog_1 {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    /* overflow: hidden; */

}

.part1 {
    width: 30%;
    display: flex;
    margin-right: 10%;
    justify-content: center;
    align-items: center;

}
.part1img  {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;


}   
.part2 {
    width: 70%;
    display: flex;
    margin-left: 5%;
    /* margin-bottom: 10%; */
    /* margin: 0; */
    font-size: 1.2rem;
    /* margin: 0; */
    /* line-height: 10px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* margin: auto; */
}
.part2 p {
color: black;
font-size: larger;
/* padding-top: 20px; */
/* line-height: 10px; */
margin-bottom: 20px;
box-sizing: border-box;
}

.blog_paragraph {
 padding: 1rem;
 border-radius: 15px;
 /* background-color: wheat;  */
 border: 1px solid black;
 width: 95%;
 /* margin: 0; */
 margin-top: 1rem;
 margin-bottom: 1rem;
 display: flex;
 /* flex-basis: 40%; */
 /* font-size: larger; */

 align-items: center;
 justify-content: center;   
}
.blog_paragraph2 {
    padding: 1rem;
    border-radius: 15px;
    /* background-color: wheat;  */
    border: 1px solid black;
    width: 95%;
    /* margin: 0; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    /* flex-basis: 40%; */
    /* font-size: larger; */
   
    align-items: center;
    justify-content: center; 
}

.blog_paragraph p {
    font-size: 1.5rem;
    
    overflow: hidden;
    /* margin: 0; */
    
    /* padding-right: 10px; */
}
.blog_paragraph2 p {
    font-size: 1.5rem;
    margin-right: 20px;
    margin-left: 10px;
    overflow: hidden;
    /* margin: 0; */
    
    /* padding-right: 10px; */
}

.blog_paragraph2 img {
    border-radius: 10%;
    width: 50%;
    height: 500px;
}


.two_pics {

    
    display: flex;
    justify-content: center;
    align-items: center;

}
.part2img {
    margin-top: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;

    max-width: 40%;
    max-height: 40%;
    border-radius: 10px;
}

.fun_corner_box {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.fun_corner_box button {
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 10px;

}
.fun_corner_box h1 {
    margin: 0;
    font-size: 3rem;
}