.footerdistributed {
    background: linear-gradient(90deg, rgb(8, 22, 27) 0%, rgb(7, 8, 42) 100%);
    color: rgb(121, 179, 14);
    /* box-sizing: border-box; */

    display: flex;
    /* width: 100%; */
    height: 100%;
    /* text-align: left; */
    font: bold 16px sans-serif;
    padding: 20px 20px 10px 30px;
    margin-top: 10px;

    bottom: 0;
  
}



 .footerleft {
    width: 30%;
}

.footerright {
    width: 40%;
}

.footercontent h3 {
    color: #ffffff;
    font: normal 55px 'Cookie', cursive;
    margin: 0;
}



.footercontent .footercompanyabout {
    line-height: 20px;
    color: rgb(121, 179, 14);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footercontent .footercompanyabout span {
    display: block;
    color: rgb(121, 179, 14);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}



.footermiddle {
    width: 30%;

}
.footermiddle img {
height: 150px;
/* align-items: centerj; */
justify-content: center;
margin-left: 30%;
}
        